/* vars */

@font-face {
    font-family: "Rubik-Regular";
    src: url('./fonts/Rubik/Rubik-Regular.woff') format('woff')
}

@font-face {
    font-family: "Santello";
    src: url("https://db.onlinewebfonts.com/t/a3dd14b0016c8c4288002bbe7b23d782.woff")format("woff")
}



html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow-x: hidden;
    font-family: "Rubik-Regular";
    line-height: 1;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text_color-end);
    transition: .25s ease-in-out;
}

a:hover {
    color: var(--accent-hight-green);
}

:root {
    --accent-light-green: #33CC33;
    --accent-midle-green: #009833;
    --accent-hight-green: #006E3A;
    --text_color: #004033;
    --text_color-end: #222;
}

/* --end vars */

/* header */

.header {
    position: fixed;
    height: 117px;
    width: 100%;
}

.logo__img {
    width: 15rem;
}

.header__menu, .header__social {
    font-family: "Santello";
}

.header__menu {
    display: flex;
}

.header__navigation {
    display: inline-flex;
    justify-content: space-around;
    font-size: 18px;
}


.header__navigation--item {
    padding: 0px 20px 0px 20px;
}

.header__social {
    font-size: 18px;
}

.header__social--item {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header__social--item i {
    padding-right: 5px;
}